.device{
    padding: 62px 80px 100px 80px;
}
.device_title{
    font-weight: 800;
font-size: 38px;
line-height: 132%;
text-align: center;
color: #f9f9f9;
padding-bottom: 37px;
}
.device_block{
    padding-top: 37px;
    gap: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-rows: 532px;
}
.device_list_block{
   text-align: center;
}
.device_list_title{
    font-weight: 800;
font-size: 26px;
line-height: 146%;
color: #f9f9f9;
padding-top: 12px;
padding-bottom: 18px;
}
.device_item{
    text-align: center;
}
.device_item_link{
    font-size: 18px;
line-height: 156%;
letter-spacing: 0.01em;
color: #c0c0c0;
}